.container {
    height: 300px;
    width: 600px;
    border: 1px solid #333;
    margin: 20px;
    display: grid;

    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

.item-a {
    background-color: pink;

    /* grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3; */

    /* short-hand for grid-column start/end */
    /* short-hand for grid-row start/end */
    grid-column: 2 / five;
    grid-row: row1-start / 3;
}

.item-b {
    background-color: rgba(0, 0, 0, 0.3);

    grid-column-start: 1;
    grid-column-end: span col4-start;
    grid-row-start: 2;
    grid-row-end: span 2;

    /* short-hand for grid-column start/end */
    /* short-hand for grid-row start/end */
    grid-column: 1 / span col4-start;
    grid-row: 2 / span 2;
}

.item-c {
    background-color: orange;
}